@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.loading-bar {
  position: relative;
  overflow: hidden;
  display: block;
  height: 8px;
  z-index: 0;
}

.loading-bar-inner {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transition: transform 0.4s linear 0s;
  transform-origin: left center;
}